body {
  margin: 0;
}

header {
  padding: 1rem;
  border-bottom: 1px solid;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

header>div {
  align-content: center;
  text-align: center;
}

header>div:first-child {
  text-align: left;
}

header>div:last-child {
  text-align: right;
}

header h1 {
  margin: 0;
  word-break: break-word;
}

h1 {
  color: red;
}

input[type="button"] {
  margin: 0 2px 0 2px;
}

main {
  padding: 1rem;
}

footer {
  padding: 1rem;
  border-top: 1px solid;
}

table,
th,
td {
  border: 1px solid;
}

th,
td {
  padding: 4px;
  text-align: left;
}

table {
  margin: 4px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

tbody>tr>td:last-child {
  text-align: right;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-centered {
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#product-tables {
  text-align: center;
}

.product-menu thead>tr>th:first-child {
  display: none;
}

.product-menu tbody>tr>td:first-child {
  display: none;
}

#news {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#news>div {
  display: flex;
  align-items: center;
  min-width: 100%;
  width: fit-content;
  animation-name: scroll-left;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#news span {
  display: flex;
}

#news span::before {
  content: "•";
  align-content: center;
  margin: 0 1rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(00%);
  }

  100% {
    transform: translateX(-50%);
  }
}
