<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Stregsystemet</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="icon" sizes="any" type="image/svg+xml" href="/static/logo/manifest/logo.svg">
    <link rel="manifest" href="/static/logo/manifest/manifest.json">
    <script src="/static/base.js" type="module" defer></script>
    <script src="/static/theme.js" type="module" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <div><input type="button" value="Genstart" onclick="location.href='/'"></div>
      <div><h1>TREOENs STREGSYSTEM</h1></div>
      <div>
          <!-- Why do we have both Genstart and Menu buttons that does the same exact thing? -->
          <input type="button" value="Menu" onclick="location.href='/'">
          <input type="button" value="Tilmeld" onclick="location.href='/signup/'">
      </div>
    </header>
    <main>
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </main>
    <footer>
      <div id="news">
        <div id="news-items"></div>
      </div>
    </footer>
  </body>
</html>
